body{
    background-color: #F8F9FA;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    img{
        height: 50px;
    }
}

.imgi{
    height: 20rem;
    border-radius: 15px;
    margin-left: 4rem;
}

.cards{
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
    margin-left: 20px;
}

.card{
    margin-left: 5px;
}

.boton-verde{
    background-color: rgb(102, 255, 47);
    border: 1px rgb(102, 255, 47);
    &:hover{
        background-color: rgb(255, 206, 47);
        transition: 1s;
    }
}

.boton-rojo{
    background-color: rgb(255, 95, 47);
    border: 1px rgb(255, 95, 47);
    &:hover{
        background-color: rgb(255, 206, 47);
        transition: 1s;
    }
}

.introduccion{
    background-color: #1a1a1a;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    width: 90% !important;
    margin-top: 40px;
    font-size: large;
    margin-bottom: 30px;
    & img{
        height: 350px;
        width: 450px;
    }
}

.introduccion div p {
    padding: 20px;
}

.introduccion div h3 {
    padding: 10px;
}

.introduccion div h2 {
    padding: 10px;
}

.introduccion div button {
    margin-left: 15px;
    margin-top: 15px;
}

footer{
    background-color: rgb(207, 207, 207);
    div{
        justify-content: center;
        align-items: center;
        display: flex;
        ul{
            align-items: center;
            display: flex;
            li{
                border-radius: 5px;
                align-items: center;
                list-style-type: none;
                margin: 10px;
            }
        }
        a{
            text-decoration: none;
            color: black;
        }
        img{
            height: 100px;
        }
    }
}